<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
</head>
<body>
    <h1>Edit a comment</h1>

    <form action="/comments/<%= comment.id %>?_method=PATCH" method="post"> <!-- override the post request as a patch request -->
        <label for="comment">Comment text:</label>
        <br>
        <!-- prefill the text area with the current comment text, so the user doesnt have to rewrite the whole comment -->
        <textarea name="comment" id="comment" cols="30" rows="5">
            <%= comment.comment %>
        </textarea>
        <button>Submit</button>
    </form>

    <a href="/comments">Back to index</a>
    
</body>
</html>