<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page <%= '4 + 5 = ' %><%= 4 + 5%></h1> <!-- the math inside the escape codes is like a template literal that contains javascript -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione rem unde repudiandae minus. Odit consectetur magnam eum enim rerum, consequuntur ducimus mollitia illum ratione? Quam nostrum magnam saepe exercitationem beatae?
    Mollitia reprehenderit numquam ea magni, debitis pariatur accusamus commodi ullam saepe, nulla dignissimos nemo delectus, laudantium dolor aliquid quia soluta. Aliquam non ut quod maxime nobis? Ad sapiente soluta aut!
    Corrupti nulla veniam obcaecati eveniet vero mollitia quod commodi repudiandae vitae magni. Quod repudiandae excepturi voluptate temporibus odio tempora voluptatum veniam dolores nihil dignissimos, pariatur sit, quibusdam deserunt a laboriosam!
    </p>

</body>
</html>